body {
    margin: 0;
}

.master {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("@/assets/image/background.jpg");
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

header h2 {
    cursor: pointer;
    color: white;
    font-family: "Roboto Light", serif;
}

main {
    display: flex;
    flex: 1;
}

.home-master {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.home-header h1 {
    color: white;
    font-family: "Roboto Light", serif;
}

.home-text {
    width: 60%;
}

.home-text p {
    color: white;
    font-family: "Roboto Light", serif;
}

.location-master {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.location-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.location-table {
    width: 20vw;
    height: 40%;
    overflow: auto;
}

.table-title {
    cursor: pointer;
}

#map {
    height: 60vh;
    width: 40vw;
}

.icons {
    margin-left: .5vw;
    cursor: pointer;
}

.icons-td {
    width: 5vw;
}

.modal-dialog {
    max-width: 27%;
}

.my-modal-footer {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

#title,
#long,
#lat {
    margin-left: 5%;
    width: 112%;
}

#textarea {
    margin-top: 5%;
}

.alert-master {
    display: flex;
    justify-content: center;
}

.errorMessage {
    color: white;
    font-family: "Roboto Light", serif;
}